In [15]:
#se precisar  instalar
#!pip install pandas
import pandas as pd
import numpy as np

In [16]:
ttt = pd.read_csv('teste.csv', delimiter=';', decimal=',')

In [17]:
ttt

,Unnamed: 0,DT_ANALISE,ID_SISTEMA_ORIGEM,ID_CONTRATO,ID_PESSOA,ID_OPERADORA,ID_ENTIDADE,ID_TIPO_PLANO_PRINCIPAL,ID_TIPO_CANCELAMENTO,ID_GEOGRAFIA,...,Multa?,Atrasos_Semestre,Atrasos_Ano,Juros?,Multa_Semestre,Multa_Ano,Atraso_Decay_30,Atraso_Decay_90,Atraso_Decay_180,QT_COPARTICIPACAO
0,0,2021-02-18,1,348539,2169926,1,1751,68,-1,22041012,...,0.432432,4.0,7.0,0.432432,3.0,3.0,0.020806,0.023734,0.021339,0.0
1,1,2021-02-18,1,246723,2311590,40,1812,68,-1,31660370,...,0.333333,3.0,4.0,0.333333,1.0,2.0,0.014713,0.012605,0.010645,1.0
2,2,2021-02-18,1,667853,1569491,1,1826,68,-1,24451590,...,0.115385,3.0,7.0,0.115385,1.0,2.0,0.015273,0.017652,0.017846,0.0
3,3,2021-02-18,1,327438,2557285,1,1751,68,-1,20231084,...,0.078947,2.0,6.0,0.078947,0.0,0.0,0.014849,0.015036,0.015317,0.0
4,4,2021-02-18,1,11363,1462601,12,1308,68,-1,70800200,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3995,2020-05-31,1,114533,3879569,90,1439,1,61,13175668,...,0.285714,4.0,6.0,0.285714,2.0,4.0,0.012137,0.015780,0.014204,0.0
3996,3996,2017-10-31,1,3306088,3581149,1,1657,1,9,5639090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,3997,2019-12-31,14,3918724,-1,471,2044,60,181,21210110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,3998,2017-08-31,2,3861537,2081251,451,1951,31,97,20241150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,3999,2018-05-31,1,2714059,3016442,15,1470,1,7,-1,...,0.285714,2.0,2.0,0.285714,2.0,2.0,0.000397,0.003975,0.004692,0.0

In [18]:
ttt.VR_PLANO.mean()

1018.7767476822852

In [19]:
print(ttt.VR_PLANO.median())

691.9

In [20]:
ttt.describe()

,Unnamed: 0,ID_SISTEMA_ORIGEM,ID_CONTRATO,ID_PESSOA,ID_OPERADORA,ID_ENTIDADE,ID_TIPO_PLANO_PRINCIPAL,ID_TIPO_CANCELAMENTO,ID_GEOGRAFIA,ID_GEOGRAFIA_ENTIDADE,...,Multa?,Atrasos_Semestre,Atrasos_Ano,Juros?,Multa_Semestre,Multa_Ano,Atraso_Decay_30,Atraso_Decay_90,Atraso_Decay_180,QT_COPARTICIPACAO
count,4000.000000,4000.000000,4.000000e+03,4.000000e+03,4000.000000,4000.000000,4000.000000,4000.000000,4.000000e+03,4.000000e+03,...,2853.000000,2853.000000,2853.000000,2853.000000,2853.000000,2853.000000,2853.000000,2853.000000,2853.000000,2853.000000
mean,1999.500000,1.954500,1.921123e+06,2.575893e+06,117.573500,1648.726500,30.102250,22.218250,2.954491e+07,1.900608e+07,...,0.202165,2.140904,3.658955,0.202165,1.080967,1.785839,0.007722,0.009380,0.008872,0.029793
std,1154.844867,3.179301,1.492078e+06,9.600552e+05,166.260661,255.285352,29.765623,41.345096,2.529053e+07,2.511751e+07,...,0.283272,1.780303,3.009986,0.283272,1.631378,2.643375,0.007857,0.007766,0.007131,0.170046
min,0.000000,1.000000,1.260000e+02,-1.000000e+00,1.000000,1275.000000,1.000000,-1.000000,-1.000000e+00,-1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,999.750000,1.000000,4.782158e+05,1.859056e+06,11.000000,1335.000000,1.000000,-1.000000,5.578258e+06,1.005000e+06,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000083,0.002084,0.003158,0.000000
50%,1999.500000,1.000000,1.255080e+06,2.606005e+06,64.000000,1662.000000,6.000000,4.000000,2.277504e+07,4.297000e+06,...,0.062500,2.000000,3.000000,0.062500,0.000000,1.000000,0.005160,0.008532,0.008131,0.000000
75%,2999.250000,1.000000,3.365815e+06,3.332700e+06,87.000000,1812.000000,68.000000,30.000000,5.207289e+07,2.221003e+07,...,0.300000,3.000000,6.000000,0.300000,2.000000,3.000000,0.014012,0.014770,0.013757,0.000000
max,3999.000000,14.000000,4.159981e+06,4.116191e+06,528.000000,2138.000000,68.000000,239.000000,9.901010e+07,9.002017e+07,...,1.000000,10.000000,16.000000,1.000000,8.000000,16.000000,0.046990,0.046592,0.042436,1.000000

In [22]:
colunas = ttt.columns

In [23]:
colunas

Index(['Unnamed: 0', 'DT_ANALISE', 'ID_SISTEMA_ORIGEM', 'ID_CONTRATO',
       'ID_PESSOA', 'ID_OPERADORA', 'ID_ENTIDADE', 'ID_TIPO_PLANO_PRINCIPAL',
       'ID_TIPO_CANCELAMENTO', 'ID_GEOGRAFIA',
       ...
       'Multa?', 'Atrasos_Semestre', 'Atrasos_Ano', 'Juros?', 'Multa_Semestre',
       'Multa_Ano', 'Atraso_Decay_30', 'Atraso_Decay_90', 'Atraso_Decay_180',
       'QT_COPARTICIPACAO'],
      dtype='object', length=256)

In [24]:
colunas[-2]

'Atraso_Decay_180'

In [25]:
colunas[2:4]

Index(['ID_SISTEMA_ORIGEM', 'ID_CONTRATO'], dtype='object')

In [27]:
colunas[2:4]
colunas[x]

Index(['ID_SISTEMA_ORIGEM', 'ID_GEOGRAFIA'], dtype='object')

In [28]:
for k in colunas:
  print(k)

Unnamed: 0
DT_ANALISE
ID_SISTEMA_ORIGEM
ID_CONTRATO
ID_PESSOA
ID_OPERADORA
ID_ENTIDADE
ID_TIPO_PLANO_PRINCIPAL
ID_TIPO_CANCELAMENTO
ID_GEOGRAFIA
ID_GEOGRAFIA_ENTIDADE
ID_SITUACAO_CONTRATO
ID_CLASS_CLIENTE
ID_RISCO_CONTRATO
ID_STATUS
ID_GRAU_PARENTESCO
ID_TEMPO_PERMANENCIA
ID_JANELA_PAGTO
ID_PRODUTO
ID_SEGMENTACAO
ID_FAIXA_ETARIA_ANS
ID_IDADE
ID_FAIXA_VALOR_CONTRATO
ID_FAIXA_VALOR_VIDA
FL_EXCLIENTE
FL_RETORNADO_IMEDIATO
FL_RETORNADO_POSTERIOR
DT_INICIO
DT_FIM
QT_PLANO_ADICIONAL
QT_COBRANCAS_AVENCER
QT_COBRANCAS_VENCIDA
QT_LIMINAR
FL_UPGRADE_PLANO
FL_DOWNGRADE_PLANO
VR_PLANO
VR_REPASSE
DT_PROCESSAMENTO
QT_MESES_PERMANENCIA
QT_DIAS_PERMANENCIA
ID_BENEFICIARIO
ID_PRODUTOR
ID_CANAL_VENDA
CD_CONTRATO
CD_PESSOA
NU_MATRICULA
CD_BENEFICIARIO
CD_PRODUTOR
FL_COPART
CHURN
PRÉ-CHURN
CHURN_ATUAL
PLANOS_P_PESSOA
VR_PLANO_CLIENTE
VR_REPASSE_CLIENTE
VR_PLANO_CONTRATO
VR_REPASSE_CONTRATO
PLANOS_P_CONTRATO
PESSOAS_P_CONTRATO
Titular
Filho
Conjuge
CD_PESSOA_PESSOA
CD_SISTEMA_ORIGEM
FL_CNPJ
DT_NASCIMENTO
DS_SEXO
DS_PROFISSAO
CPF
CD_CONTRATO_CONTRATO
CD_SISTEMA_ORIGEM_CONTRATO
DT_INICIO_CONTRATO
DT_FIM_CONTRATO
DT_FIM_VIG
DS_RAZAO_CANCELAMENTO
NU_MATRICULA_CONTRATO
NU_MES_PORTABILIDADE
NU_MES_REAJUSTE
DS_FATURA
DS_FORMA_PAGTO
QT_VIDA
PC_PROBABILIDADE
PC_PROBABILIDADE_SOLIC
PC_PROBABILIDADE_INAD
DS_SCORE
CD_TIPO_CANCELAMENTO
CD_SISTEMA_ORIGEM_CANCELA
DS_TIPO_CANCELAMENTO
DS_TIPO_CANCELAMENTO_AGRUPADO
DS_TIPO_CANCELAMENTO_RESUMIDO
NU_CEP
DS_CIDADE
DS_BAIRRO
DS_UF
NU_LATITUDE
NU_LONGITUDE
SISTEMA_ORIGEM
CD_OPERADORA
NM_OPERADORA
ID_TP_OPERADORA
CD_SISTEMA_ORIGEM_OPERADORA
DT_INICIO_OPERADORA
DT_FIM_OPERADORA
NM_GRUPO_OPERADORA_RESUMIDO
DT_INICIO_ENTIDADE
DT_FIM_ENTIDADE
CD_ENTIDADE
CD_SISTEMA_ORIGEM_ENTIDADE
DS_RAZAO_SOCIAL
DS_NOME_FANTASIA
DS_GRUPO_ENTIDADE
DS_TIPO_ENTIDADE
DS_PUBLICO_ALVO
ID_TIPO_PLANO
CD_TIPO_PLANO
DS_TIPO_PLANO
CD_SISTEMA_ORIGEM_TIPO_PLANO
DS_QUALIFICACAO_TIPO
DS_GRUPO_TIPO_PLANO
DT_INICIO_TIPO_PLANO
DT_FIM_TIPO_PLANO
CD_TIPO_CANCELAMENTO_TIPO_CANCELA
CD_SISTEMA_ORIGEM_TIPO_CANCELA
DS_TIPO_CANCELAMENTO_TIPO_CANCELA
DS_TIPO_CANCELAMENTO_AGRUPADO_TIPO_CANCELA
DS_TIPO_CANCELAMENTO_RESUMIDO_TIPO_CANCELA
SERASA
LIMINAR
PROCON
REMIDO
NIP
HIST_LIMINAR
COR_LIMINAR
FL_VIP
FL_CLASS
DS_GRUPO_RETENCAO
DS_NIVEL_RISCO
DT_INICIO_RISCO_CONTRATO
DT_FIM_RISCO_CONTRATO
CD_PRODUTO
CD_SISTEMA_ORIGEM_PRODUTO
DS_FATURA_PRODUTO
CD_PLANO
DS_ACOMODACAO
NM_PLANO
DS_TIPO_PLANO_PRODUTO
NM_OPERADORA_PRODUTO
CD_PLANO_ANS
DS_PLANO_ANS
CD_SEGMENTACAO
DS_SEGMENTACAO
CD_SISTEMA_ORIGEM_SEGMENTACAO
ID_FAIXA_ETARIA
NM_FAIXA
NU_FAIXA_INI
NU_FAIXA_FIM
NM_FAIXA_VIDA
NU_FAIXA_INI_VIDA
NU_FAIXA_FIM_VIDA
NM_FAIXA_CONTRATO
NU_FAIXA_INI_CONTRATO
NU_FAIXA_FIM_CONTRATO
CD_SISTEMA_ORIGEM_PRODUTOR
CD_PRODUTOR_PRODUTOR
NM_PRODUTOR
DS_CANAL_VENDA
TENURE
RAZAO_SIMPLIFICADA
IDADE_CALCULADA
Ranking IDHM 2010
Município
IDHM 2010
IDHM Renda 2010
IDHM Longevidade 2010
IDHM Educação 2010
UF
REGIAO
log_VR_CONTRATO
log_VR_media
log_VR_MUNIC
COEF
IDHM Score
GEO_1
GEO_2
GEO_ENT_1
GEO_ENT_2
PRODUTOR_PROXY
ID_COUNT_PRODUTOR
MATRICULA
Rechamada_dia_total
Rechamada_semana_total
Rechamada_mes_total
Rechamada_dia_semestre
Rechamada_semana_semestre
Rechamada_mes_semestre
Rechamada_dia_decay
Rechamada_semana_decay
Rechamada_mes_decay
N1_total
N1_semestre
N1_decay
N2_total
N2_semestre
N2_decay
OUV_total
OUV_semestre
OUV_decay
SUB_total
SUB_semestre
SUB_decay
SOLIC_total
SOLIC_semestre
SOLIC_decay
RECLAM_total
RECLAM_semestre
RECLAM_decay
REDES_SOCIAIS
LINHA_P_CHAMADO
CHAMADO_DUPLO
SEGMENTACAO_NPV
CRM_ATRASO
CRM_ATRASO_total
CRM_ATRASO_semestre
CRM_ATRASO_decay
TENURE_CRM
N1_taxa
N2_taxa
OUV_taxa
SUB_taxa
SOLIC_taxa
RECLAM_taxa
Rechamada_dia_taxa
Rechamada_semana_taxa
Rechamada_mes_taxa
MATRICULA_INFO
REDES_SOCIAIS_INFO
LINHA_P_CHAMADO_INFO
CHAMADO_DUPLO_INFO
INFO_CANC
INFO_CANC_Semestre
SEGMENTACAO_NPV_INFO
Info_Total
Info_Semestre
Info_Decay
Atrasou?
Atrasos_total
Multa?
Atrasos_Semestre
Atrasos_Ano
Juros?
Multa_Semestre
Multa_Ano
Atraso_Decay_30
Atraso_Decay_90
Atraso_Decay_180
QT_COPARTICIPACAO

In [29]:
df = ttt[['ID_IDADE','VR_PLANO','CHURN','DS_SEXO','SERASA','TENURE','IDHM Score','Multa_Semestre']]

In [30]:
df

,ID_IDADE,VR_PLANO,CHURN,DS_SEXO,SERASA,TENURE,IDHM Score,Multa_Semestre
0,40,698.1,0,F,0,1205.0,0.866143,3.0
1,28,203.5,0,F,0,701.0,0.777956,1.0
2,49,968.7,0,F,0,871.0,0.717271,1.0
3,26,786.6,0,F,0,1236.0,0.840583,0.0
4,36,1019.7,0,M,0,4372.0,0.872389,0.0
...,...,...,...,...,...,...,...,...
3995,44,1077.7,1,F,0,1704.0,0.756137,2.0
3996,17,323.5,1,F,0,91.0,0.878011,NaN
3997,57,1485.0,1,X,-1,2920.0,0.822528,NaN
3998,40,1596.7,1,F,0,577.0,0.840583,NaN
3999,41,759.2,1,F,0,4048.0,NaN,2.0

In [31]:
df.DS_SEXO.value_counts()

F    2338
M    1504
X     158
Name: DS_SEXO, dtype: int64

In [32]:
df.CHURN.value_counts()

0    2000
1    2000
Name: CHURN, dtype: int64

In [33]:
df.SERASA.value_counts()

 0    3648
-1     258
 1      94
Name: SERASA, dtype: int64

In [34]:
df[df.CHURN == 0].SERASA.value_counts()

 0    1852
-1     147
 1       1
Name: SERASA, dtype: int64