In [2]:
#importar bibliotecas pandas
import pandas as pd
import numpy as np

In [13]:
#series
s = pd.Series(np.array([1,2,3,4,5]))

In [15]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [16]:
#com index
se = pd.Series(np.array(['001','002','003','004','005','006']), index=[1,2,3,4,5,6]

SyntaxError: unexpected EOF while parsing (<ipython-input-16-ad8f5a041f10>, line 2)

In [17]:
#lendo CSV
df = pd.read_csv(('drogs.csv'), delimiter= ';')

In [18]:
df

    IDADE,"SEXO","BP","COLESTEROL","Na_to_K","DROGAS"
0             23,"F","HIGH","HIGH","25.355","Cocaina"
1              47,"M","LOW","HIGH","13.093","Maconha"
2              47,"M","LOW","HIGH","10.114","Maconha"
3                28,"F","NORMAL","HIGH","7.798","LDS"
4              61,"F","LOW","HIGH","18.043","Cocaina"
..                                                ...
195            56,"F","LOW","HIGH","11.567","Maconha"
196            16,"M","LOW","HIGH","12.006","Maconha"
197              52,"M","NORMAL","HIGH","9.894","LDS"
198            23,"M","NORMAL","NORMAL","14.02","LDS"
199              40,"F","LOW","NORMAL","11.349","LDS"

[200 rows x 1 columns]

In [21]:
#passa pelas linhas 
df.head(10)

  IDADE,"SEXO","BP","COLESTEROL","Na_to_K","DROGAS"
0           23,"F","HIGH","HIGH","25.355","Cocaina"
1            47,"M","LOW","HIGH","13.093","Maconha"
2            47,"M","LOW","HIGH","10.114","Maconha"
3              28,"F","NORMAL","HIGH","7.798","LDS"
4            61,"F","LOW","HIGH","18.043","Cocaina"
5              22,"F","NORMAL","HIGH","8.607","LDS"
6         49,"F","NORMAL","HIGH","16.275","Cocaina"
7            41,"M","LOW","HIGH","11.037","Maconha"
8         60,"M","NORMAL","HIGH","15.171","Cocaina"
9          43,"M","LOW","NORMAL","19.368","Cocaina"

In [23]:
df.tail

<bound method NDFrame.tail of     IDADE,"SEXO","BP","COLESTEROL","Na_to_K","DROGAS"
0             23,"F","HIGH","HIGH","25.355","Cocaina"
1              47,"M","LOW","HIGH","13.093","Maconha"
2              47,"M","LOW","HIGH","10.114","Maconha"
3                28,"F","NORMAL","HIGH","7.798","LDS"
4              61,"F","LOW","HIGH","18.043","Cocaina"
..                                                ...
195            56,"F","LOW","HIGH","11.567","Maconha"
196            16,"M","LOW","HIGH","12.006","Maconha"
197              52,"M","NORMAL","HIGH","9.894","LDS"
198            23,"M","NORMAL","NORMAL","14.02","LDS"
199              40,"F","LOW","NORMAL","11.349","LDS"

[200 rows x 1 columns]>

In [24]:
df.columns

Index(['IDADE,"SEXO","BP","COLESTEROL","Na_to_K","DROGAS"'], dtype='object')

In [ ]:
filtro = df['IDADE'] == '20'

In [ ]:
filtro